<mat-toolbar class="navbar" color="primary">
  <button mat-flat-button color="primary" [routerLink]="'home'" routerLinkActive="active-button"><img src="../../../assets/img/rocket_launch_white_24dp.svg"> AaaS.Web</button>
  <button mat-flat-button color="primary" [routerLink]="'dashboard'" routerLinkActive="active-button">Dashboard</button>
  <button mat-flat-button color="primary" [routerLink]="'detectors'" routerLinkActive="active-button">Detectors</button>
  <span class="spacer"></span>
  <button *ngIf="isLoggedIn()" mat-flat-button color="primary" [routerLink]="'home'" (click)="logout()">Logout</button>
</mat-toolbar>