<div class="component-content">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="submitForm()">
        <p>
          <mat-form-field color="accent">
            <input matInput type="text" name="username" placeholder="username" [(ngModel)]="login.username" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field color="accent">
            <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="password" [(ngModel)]="login.password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <div class="button">
          <button mat-flat-button type="submit" color="accent" [disabled]="loginForm.invalid">Login</button>
        </div>

        <div class="mat-error"></div>
      </form>
    </mat-card-content>
  </mat-card>
</div>